<div class="container">
  <form [formGroup]="registration">
    <div id="wholeForm">
      <h2>Registration Form</h2>
      <label for="firstName">First Name</label>
      <input formControlName="firstName" placeholder="First Name">
      <div *ngIf="firstName.invalid && firstName.touched">
        Name Required
      </div>

      <label for="lastName">Last Name</label>
      <input formControlName="lastName" placeholder="Last Name">
      <div *ngIf="lastName.invalid && lastName.touched">
        Last Name Required
      </div>

      <label for="userName">Username</label>
      <input formControlName="userName" Placeholder="Username">
      <div *ngIf="userName.invalid && userName.touched">
        Username Required
      </div>

      <label for="passWord">Password</label>
      <input formControlName="passWord" placeholder="Password">
      <div *ngIf="passWord.invalid  && passWord.touched">
       Password Required
      </div>
      <div>
        <mat-checkbox formControlName="agree" color="primary">Are you Sure this is Correct?</mat-checkbox>
      </div>
      <br>
      <div>
        <button [disabled]="registration.invalid" mat-raised-button>Register</button>
      </div>
    </div>
  </form>

  <!-- ngModel name="passwordA" #password="ngModel"  -->