<div class="container">
  <form [formGroup]="registration" (ngSubmit)="onSubmit()">
    <div class="form-group" id="wholeForm">
      <h2>Registration Form</h2>
      <label for="firstName">First Name</label>
      <input required minlength="3" ngModel name="firstName" (change)="log(firstName)" #firstName="ngModel"
        id="firstName" type="text" placeholder="First Name" class="form-control">
      <div *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">First name is required.</div>
        <div *ngIf="firstName.errors.minlength">First name requires minimum
          {{ firstName.errors.minlength.requiredLength }} characters.</div>
      </div>
      <label for="userName">Enter Username</label>
      <input required minlength="3" ngModel name="userName" #userName="ngModel" id="userName" type="text"
        placeholder="Username" class="form-control">
      <div *ngIf="userName.touched &&!userName.valid">
        <div *ngIf="userName.errors.required">Username is required.</div>
        <div *ngIf="userName.errors.minlength">Username requires minimum {{ userName.errors.minlength.requiredLength }}
          characters.</div>
      </div>
      
      <div  class="form-group" [class.has-error]="password.touched && password.invalid">
        <label for="password" class="control-label">Password</label>
        <input required minlength="6" id="password" name="password" type="text" placeholder="Password"
          class="form-control" ngModel name="password" #password="ngModel">
        <div class="help-block" *ngIf="password.touched && password.errors?.required">Password is Required</div>
      </div>
      <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input required minlength="6" id="confirmPassword" name="confirmPassword" appConfirmEqualValidator="password" type="text" placeholder="Confirm Password"
          class="form-control" ngModel name="confirmPassword" #confirmPassword="ngModel">
        <div class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password is required</div>
        <div class="help-block" 
        *ngIf="confirmPassword.touched && 
        confirmPassword.errors?.notEqual">Passwords Do Not Match</div>
      </div>
      <div>
      <button [disabled]="loading">Register</button>
      </div>
    </div>
  </form>

  <!-- ngModel name="passwordA" #password="ngModel"  -->