<div class="container">
  <form>
    <div class="form-group" id="wholeForm">
      <h2>Registration Form</h2>
      <label for="firstName">First Name</label>
      <input required minlength="3" ngModel name="firstName" (change)="log(firstName)" #firstName="ngModel"
        id="firstName" type="text" placeholder="First Name" class="form-control">
      <div *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">First name is required.</div>
        <div *ngIf="firstName.errors.minlength">First name requires minimum
          {{ firstName.errors.minlength.requiredLength }} characters.</div>
      </div>
      <label for="lastName">Last Name</label>
      <input required minlength="3" ngModel name="lastName" #lastName="ngModel" id="lastName" type="text"
        placeholder="Last Name" class="form-control">
      <div *ngIf="lastName.touched &&!lastName.valid">
        <div *ngIf="lastName.errors.required">Last name is required.</div>
        <div *ngIf="lastName.errors.minlength">Last name requires minimum {{ lastName.errors.minlength.requiredLength }}
          characters.</div>
      </div>
      <label for="email">Email</label>
      <input required minlength="3" ngModel name="email" #email="ngModel" id="email" type="text" placeholder="Email"
        class="form-control">
      <div *ngIf="email.touched && !email.valid">
        <div *ngIf="email.errors.required">Valid email is required.</div>
        <div *ngIf="email.errors.minlength">Email requires minimum {{ email.errors.minlength.requiredLength }}
          characters.
        </div>
      </div>
      
      <div class="form-group" [class.has-error]="password.touched && password.invalid">
        <label for="password" class="control-label">Password</label>
        <input required minlength="8" id="password" name="password" type="text" placeholder="Password"
          class="form-control" ngModel name="password" #password="ngModel">
        <div class="help-block" *ngIf="password.touched && password.errors?.required">Password is Required</div>
      </div>
      <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input required minlength="8" id="confirmPassword" name="confirmPassword" appConfirmEqualValidator="password" type="text" placeholder="Confirm Password"
          class="form-control" ngModel name="confirmPassword" #confirmPassword="ngModel">
        <div class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password is required</div>
        <div class="help-block" 
        *ngIf="confirmPassword.touched && 
        confirmPassword.errors?.notEqual">Passwords Do Not Match</div>
      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>

  <!-- ngModel name="passwordA" #password="ngModel"  -->