<div class="container">
  <div class="color">
    <div class="right">
      <a [routerLink]="['/register']">Sign Up</a>
    </div>
    <div class="center">
      <h2>Sign In</h2>
    </div>
    <div class="center">
      <form [formGroup]="loginForm">
        <div>
          <label for="username">Username:</label>
          <input formControlName="userName" placeholder="Username">
          <div *ngIf="userName.invalid && userName.touched">
            Username Required
          </div>
        </div>

        <div>
          <label for="passWord">Password:</label>
          <input formControlName="passWord" placeholder="Password">
          <div *ngIf="passWord.invalid && passWord.touched">
            Password Required
          </div>
        </div>

        <div>
          <button [disabled]="loginForm.invalid" mat-raised-button>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>