
<h2>Sign Up Form</h2>
<div class="container">
  <label for="firstName">
    First Name:
  <input id="firstName" type="text" placeholder="First Name">
</label>
  <br>
  <label for="lastName">
    Last Name:
  <input type="text" id="lastName" placeholder="Last Name">
  </label>
  <br>
  <label for="email">
    Email:
  <input id="email" type="text" placeholder="Email">
  </label>
  <br>
  <label for="userName">
      User Name:
      <input id="userName" type="text" placeholder="User Name">
    </label>
    <br>
  <label for="passWord">
    Password:
  <input type="text" id="passWord" placeholder="Password">
  </label>
  <br>
  <label for="rePassWord">
    Re-enter Password:
  <input type="text" id="rePassWord" placeholder="Re-enter Password">
  </label>
  <br>
  <button type="submit">Submit</button>
  </div>