.container{
    width: 100%;
    margin: auto;
    height: 70%;
    background-image: url(../../assets/pics/prescription-pad-goodrx-1024x576.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.color {
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: rgba(0, 57, 143, 0.89);
}

