<!-- Medication Name:<input [(ngModel)]="meds.name" placeholder="Medication Name">
<br>
<br>
Medication Strength:<input [(ngModel)]="meds.strength" placeholder="Medication Strength">
<br>
<br>
Medication Directions:<input [(ngModel)]="meds.directions" placeholder="Medication Directions">
<br>
<br>
  <p>Name: {{name.value}}</p>
  <p>Strength: {{strength.value}}</p>
  <p>Directions: {{directions.value}}</p>

  <button>Add To Medication List</button>

  <h2>Current Medications</h2>

  <div>
    <p>{{meds.name}}</p>
    <p>{{meds.strength}}</p>
    <p>{{meds.directions}}</p>
  </div> -->

<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input required 
    minlength="3" 
    ngModel name="firstName" 
    (change)="log(firstName)" 
    #firstName="ngModel" 
    id="firstName" 
    type="text" 
    class="form-control">
    <div *ngIf="firstName.touched && !firstName.valid">
      <div *ngIf="firstName.errors.required">First name is required.</div>
      <div *ngIf="firstName.errors.minlength">First name requires minimum {{ firstName.errors.minlength.requiredLength }} characters.</div>
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>